* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
}
input {
  border: none;
  outline: none;
}
i {
  font-style: normal;
}
img {
  border: none;
  vertical-align: middle;
}
li {
  list-style: none;
}
body {
  font-size: 12px;
  line-height: 1;
}
.clearfix::after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
